h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}
p {
    font-size: 1em;
}
code, pre {
    font-family: "Courier New", Courier, monospace;
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
}

#documentationHeader {
    text-align: center;
}

#documentationContent a {
    text-decoration: underline;
}
