#decisionLogContent {
    font-size: 1.2em;
}

.decisionTimelineYear {
    font-size: 1.4em;
    color: gray;
}

.decisionSummaryMetadata {
    color: gray;
    font-size: 0.8em;
}

.otherStatus {
    opacity: 0.2;
}